
@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK&display=swap');
:root {
    --bgcolor:#1F2937;
    --color:white;
    --linkcolor:#1E40AF;
    --hovercolor:#ffc72c;
    --graycolor:#070808;
    --blackcol:rgb(56, 50, 50);
    --greencolor:#10B981;
}
*, *::before, *::after {
    box-sizing: inherit;
}
* {
    margin:0px;
    padding:0px;
}
body {
    /* font-family:'Merienda',cursive; */
    font-family: 'Noto Sans HK', sans-serif;
    /* font-family:Poppins; */
    background-color: var(--bgcolor);
    color:var(--color);
    overflow-x: hidden;
    letter-spacing: 1px;
}




.navigation {
    background-color: #000000;
    border-bottom-right-radius: 1rem;
    padding:0.5rem 1rem 1rem;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    display:flex;
    z-index:10; 
    justify-content: flex-end;

}
.navigation ul {
    /* display:flex; */

    text-align:right;
    margin-right:1rem;
    padding:10px;
}
.navigation .brand {
    position:fixed;
    left:10px;
    display:flex;
    letter-spacing: 3px;
    /* line-height: 3px; */
}

.brand-link {
    color:white;
    text-decoration: none;
}
.brand-link:hover {
    color:var(--hovercolor);
    transition: color 500ms ease-in-out;
}

.h3-brand:hover {
    color:var(--hovercolor);
    transition: color 500ms ease-in-out;
}
.navigation .brand .brace {
    color:var(--hovercolor);
    font-size:25px;
    line-height:22px;
}

.navigation .brand:hover .brace {
    color:#10B981;
    transition:color 500ms ease-in-out;
}

.prajwal {
    color:#10B981;
    font-weight:20px;
}

.navigation .container-fluid ul li{
    list-style: none;
    display:inline;
    padding:2.5rem;
    
    }
    .navigation .container-fluid ul li a {
        color:white;
        text-decoration: none;
    
    }
    .navigation .container-fluid ul li a:hover {
        color:var(--hovercolor);
        transition:color 500ms;
        cursor: pointer;
        border-bottom: 3px solid var(--hovercolor);
        padding-bottom: 10px;
        transition:border-bottom-width 200ms ease-in-out;
    }
    
    .navigation .container-fluid ul li .active {
        color:var(--hovercolor);
    }
    
    /* .lottie {
        height:100vh;
        width:100%;

    } */
    

.lottie-grid {
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: minmax(100px,auto);
}

    
.header {
    font-size:36px;
    /* border:1px solid red; */
    padding:2rem;
    text-align:center;
    /* background-color: black; */
    margin:100px auto;
    border-bottom-left-radius: 1rem;
    display:flex;
    align-items: center;
}

.header .blogs {
    color:#ffc72c;
}
.header .attherate {
    color:var(--greencolor);
}
.img-profile {
    height: 100vh;
    display: flex;
    margin: auto;
    margin: 0px;
    max-width: 750px;
    padding:5rem 2rem;
}
/* 
.lottie {
    display:flex;
    align-self:center;
    align-content: center;
    align-items: center;
    margin-top:20px;
} */

.fluid-container {
    margin:0.5rem 1rem;  
  } 
  .center-container {
      /* text-align:center; */
    display:flex;
    justify-content: center;
    /* max-width:500px; */
    /* margin-right:20px; */
    /* margin-bottom:2px; */
    padding-bottom:10px;
    
}

.center-container h1 {
    text-align:center;
    margin: 0px;
    padding: 0px;
    letter-spacing: 3px;
    /* color:var(--bgcolor); */
}


.main-body {
    /* margin-bottom:0px; */
    margin:0px 0px;
    padding-bottom :100px;
    font-size:20px;
    background-color: var(--greencolor);
    width:100%;
}
.svg-image-top {
    position: relative;
     top:10px; 

}
.svg-image-bottom {
    position:relative;
    bottom:70px;
    color:#10B981;
}

/*blog-grids */

.blog-grid {
    display:grid;
    grid-template-columns: repeat(1 ,1fr);
    grid-auto-rows: auto;
}


.blog-container {
    /* border:1px solid red; */
    margin:20px;
    background-color:black;
    padding:10px;
    border-radius: 0.5rem;
}

.blog-container .blog-header {
    text-align:center;
    color:var(--hovercolor);
    font-size:16px;
    letter-spacing: 3px;
}

.blog-container:nth-child(odd)  {
    background-color: var(--bgcolor);
}

.blog-container .blog-content {
    /* border:1px solid cyan; */
    text-align:left;
    margin-left:20px;
    line-height:40px;
    padding:10px;
}



.contact-section .contact-section-header {
    font-weight:50;
    text-align:center;
    padding:10px;
    letter-spacing: 3px;
}
.contact-section .contact-div {
    font-size:2rem;
    /* border:1px solid var(--hovercolor); */
    display:flex;
    justify-content: center;
    margin-top:30px;
    background-color: black;
    padding:20px;
    
}

.contact-section .contact-div .social-icons {
    color:white;
    transition: color 500ms;
    transition:transform .2s;
    padding:3px 50px;
}
.contact-section .contact-div .social-icons:hover {
    color:var(--hovercolor);
    transform:scale(1.2);

}

.contact-div ul {
    text-align:center;
    margin:auto;
    justify-content: center;
    /* border:1px solid red; */
    /* margin-bottom:120px; */
}

.contact-div ul li {
    display:inline;
    padding:35px;
}

/* footer */
.footer .footer-div{
    border-top:1px solid var(--hovercolor);
    z-index:5;
    padding:20px;
    background-color: black;
    display:flex;
    justify-content: space-evenly;
}

#copyright {
    /* text-align:right; */
    margin-left:30rem;
    
}


/* hr*/
.hr {
    width:5%;
    margin:auto;
    color:var(--hovercolor);
    border-top:3px solid var(--hovercolor);
    transition:border-width 200ms ease-in-out;    
}

/*primary links */
.primary-link {
    color:black;
    border-radius: 0.3rem;
    background-color:var(--hovercolor);
    text-decoration: none;
    width:max-content;
    padding:0.4rem 1rem;
    cursor: pointer;
}

.small-date {
    padding:10px 0px;
    display:flex;
    justify-content: flex-start;
    
}

.blog-link  {
    text-align:center;
    padding:5px;
    /* border:1px solid red; */
    margin:5px;
}

.blog-link a:hover {
    background-color: var(--greencolor);
    color:white;
    transition:color 200ms;
}


/* media queries */


@media (max-width: 75em)  {
    html  {
        font-size: 60%;
        width:fit-content;
        /* width:550px; */
    }
}
/* 980px / 16px = 61.25em */
@media (max-width: 61.25em)  {
    html  {
        font-size: 58%;
    }
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em)  {
    html  {
        font-size: 55%;
    }
}

    /*navbar*/
    @media screen and  (max-width: 512px) {
        .navigation  {
            /* display:flex; */
            justify-content: flex-end;
             /* position:relative;  */
            /* border:1px solid cyan; */
            border-bottom-left-radius: 1rem;
            position:fixed;
        }
        .fluid-container {
            margin:0.5rem 4rem;
        }
    
        .navigation .container-fluid ul {
        display:flex;
        margin: 0 1rem;
        justify-content: center;
        position: relative;
        left:150px;
        /* border:1px solid green; */
        
       }

       .navigation .container-fluid ul li {
           position: relative;
           right:110px;
           display:flex;
           justify-content: center;
           font-size:22px;
           /* border:1px solid red; */
       }

       .h3-brand {
           line-height:30px;
           font-size:18px;
       }
    }

    /*HEADER*/

    
    @media  screen and (max-width: 512px) {
        .profile {
            display:grid;
            /* border:5px solid cyan; */
            grid-template-columns: repeat(1, 1fr);
        }
        .profile-header-div .profile-header {
            /* max-width:200px; */
            /* border:1px solid green; */
            font-size:50px;
        }
        .profile .profile-caption {
            font-size:20px;

        }
        .img-profile {
            max-width:356px;
            margin:0px auto; 
            /* border:1px solid orange; */
            height:300px;
            
            padding:150px 0px 0px 0px;;
        } 
        .profile-image-div {
            margin-top:0px;
        }
    }

    @media screen and (max-width:512px) {
        .lottie-grid {
            display:grid;
            grid-template-columns: (1,1fr);
            grid-auto-rows: auto;
        }

        .header .attherate {
            font-size:4rem;
        }
        .header .blogs {
            font-size:4rem;
        }

        .blog-grid {
            padding-bottom:20px;
        }
        .svg-image-bottom {
            position:relative;
            bottom:30px;
        }
    }

   

    /*about me*/
@media screen and (max-width: 512px) {

    .main-body {
        margin:0px;
        padding-top:30px;
        padding:0px;
        /* width:100%; */
    }

    
    .projects .project-container{
        display:grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap:50px;

    }

    .projects .project-container:nth-child(even) {
        display:none;
    }

    /* .projects .project-container .project-image { */
        /* display:none; */
    /* } */
}

/*certification section*/
@media screen and (max-width:512px) {
    .certification-section .certification-grid{
        /* margin-right:-1030px; */
        /* border:1px dotted yellow; */
        display:grid;
        justify-items: center;
    }
}

/*contact section */
.contact-div ul li {
    padding:0px;
}

@media screen and  (max-width:512px) {
    .main-h1 {
        padding-top:0px;
        font-size:30px;
    }
}

@media screen and  (max-width:512px) {
    .contact-section-header {
        font-size:30px;
    }

}

@media screen and (max-width:512px) {
    .aboutme-div {
        padding-bottom:10px;
    }
}

/*social icons */
@media screen and (max-width:512px) {
    .social-icons {
        font-size:40px;
    }

    .footer .footer-div {
        padding:10px;
    }
    .footer-cap {
        /* width:50%; */
        display:inline;
    }

    #copyright {
        width:auto;
        margin-left:150px;
    }
}