
@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK&display=swap');
:root {
    --bgcolor:#1F2937;
    --color:white;
    --linkcolor:#1E40AF;
    --hovercolor:#ffc72c;
    --graycolor:#6B7280;
    --blackcol:black;
}
*, *::before, *::after {
    box-sizing: inherit;
}
* {
    margin:0px;
    padding:0px;
}
body {
    /* font-family:'Merienda',cursive; */
    font-family: 'Noto Sans HK', sans-serif;
    /* font-family:Poppins; */
    background-color: var(--bgcolor);
    color:var(--color);
    
}

.hr {
    margin:2.2rem 0rem;
}


.navigation {
    background-color: #000000;
    border-bottom-right-radius: 1rem;
    padding:0.5rem 1rem 0.2rem;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    display:flex;
    z-index:10; 
    justify-content: flex-end;

}
.navigation ul {
    /* display:flex; */

    text-align:right;
    margin-right:1rem;
    padding:10px;
}



.navigation .container-fluid ul li{
list-style: none;
display:inline;
padding:2.5rem;

}
.navigation .container-fluid ul li a {
    color:white;
    text-decoration: none;

}
.navigation .container-fluid ul li a:hover {
    color:var(--hovercolor);
    transition:color 500ms;
    cursor: pointer;
    border-bottom: 3px solid var(--hovercolor);
    padding-bottom: 10px;
    transition:border-bottom-width 200ms ease-in-out;
}

.navigation .container-fluid ul li .active {
    color:var(--hovercolor);
}

.hidden {
    display:none;
}

.img-profile {
    height:100vh;
    display:flex;
    margin-left:auto;
    margin-top:0px;
    max-width:800px;
}

.fluid-container {
    margin:0.5rem 1rem;  
  } 

  .profile {
      display:grid;
      grid-template-columns: 38% 60%;
      grid-auto-rows: minmax(150px,auto);
  }



  .profile-header {
      text-align:center;
      align-content: center;
      display:flex;
      align-items: center;
      font-size: 80px;
      justify-content: center;
      color:var(--hovercolor);
  }

  .profile-header-div {
      /* margin:0px;
      text-align:top;
      align-content: top;
      display:flex;
      align-items: top;
      height:100vh;
      justify-content: top;
      align-self: top; */
      margin-top:220px;
      background-attachment: fixed;
      
  }

  .profile-image-div {
      margin:0px;
  }

  .profile .profile-header-div .profile-caption {
      /* border:1px solid red; */
      text-align:center;
      display:flex;
      justify-content: center;
      padding:15px;
  }

  main {
      margin:35px;
  }
.main-h1 {
    text-align: center;
    margin:15px;
    padding-top:50px;
}

.hr {
    width:5%;
    margin:auto;
    color:var(--hovercolor);
    border-top:3px solid var(--hovercolor);
    transition:border-width 200ms ease-in-out;    
}

.main-body {
    padding:50px;
    font-size:20px;
    
}

/*  

.projects {
    display: grid;
    grid-template-columns: repeat(2 , auto);
    grid-auto-rows: minmax(100px, auto);
    grid-gap:3rem;
   grid-auto-columns: auto; 
}

.projects .project-container {
    margin-top:35px;
}
.projects .project-img-div img {
    max-width:220px; 
    display:block;
    width:100%;
    height:100%;
    padding:0px 5px;
    margin-left:150px;
    margin-top:35px;
     border:3px solid var(--hovercolor);   
}


*/

.projects {
    display:grid;
    grid-row-gap:3rem;
    background-color: black;
    padding:2rem;
    border-radius: 2rem;;
}

.projects .project-container {
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap:2rem;
    grid-auto-rows: minmax(100px,auto);
}

.projects .project-container .profile-image-div,img{
    max-width:220px;
    margin:auto;
    display:flex;
    align-items: center;
    margin-top:50px;
}
.projects .project-container .profile-image-div,p {
    display:flex;
    align-self:center;
}

/*certifications

.certification-section {
     text-align:center; 
     padding:10rem 2rem;
      padding:2rem; 
}

.certification-header {
    text-align:center;
    padding:1rem;
}

.certification-section .certification-grid {
    border:1px solid brown;
    display:grid;
    grid-template-columns: repeat(auto-fit , minmax(320px,1fr));
    grid-gap:2rem;
    max-width:1300px; 
    margin:0 auto;
     width:100%; 
    margin-bottom:160rem; 
}

.cert-img {
    width:max-content;
    height:300px;
    object-fit: cover;
    margin:0px;
    position:relative;
    left:50px;
}

 .certification-section .certification-grid .cert-box {
    border:1px solid black;
    text-decoration: none;
     margin:auto; 
     text-align:center; 
    background-color: black;
    border-radius: 2rem;
    margin:20px;
    position:relative;
    top:10px;

}

.cert-title {
    text-align:center;
    color:white;
    padding:1rem;
    justify-content: center;

}*/


.certification-grid {
    /* border:3px solid var(--bgcolor);  */
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(445px,auto));
    grid-column-gap:3rem;
    grid-row-gap:1rem;
    grid-auto-rows: minmax(360px,auto);
}

.certification-grid .cert-box {
    /* border:1px solid green; */
    background-color: black;
    border-radius:0.5rem;
    margin:20px;
    margin-top:40px;
    text-decoration: none;
    width:500px;

}

.certification-grid .cert-box .cert-img {
    border:1px solid cyan;
    min-width:490px;
    height:300px;
    margin-top:0px;
    border-radius: 0.3rem;
}

.certification-grid .cert-box .cert-title {
    /* border:1px solid yellow; */
    text-align:center;
    color:white;
    justify-content: center;
    margin-top:16px;
    font-size:22px;
    padding:10px;
}

.code  {
    color: black;
    /*Its there just camouflaged */
    transition: color 0.3s ease-out;
}

.cert-box:hover .code {
    color:var(--hovercolor);
}

.certification-header {
    margin-top:30px;
    padding:20px;
    text-align:center;
}
.certification-header .hr {
    padding:20px;
}

/* contact */

.contact-section .contact-section-header {
    font-weight:50;
    text-align:center;
    padding:10px;
}
.contact-section .contact-div {
    font-size:2rem;
    /* border:1px solid var(--hovercolor); */
    display:flex;
    justify-content: center;
    margin-top:30px;
    background-color: black;
    padding:20px;
    
}

.contact-section .contact-div .social-icons {
    transition: color 500ms;
    transition:transform .2s;
    padding:3px 50px;
}
.contact-section .contact-div .social-icons:hover {
    color:var(--hovercolor);
    transform:scale(1.2);

}

.contact-div ul {
    text-align:center;
    margin:auto;
    justify-content: center;
    /* border:1px solid red; */
    margin-bottom:120px;
}

.contact-div ul li {
    display:inline;
    padding:35px;
}

/* footer */
.footer .footer-div{
    border-top:1px solid var(--hovercolor);
    z-index:5;
    padding:20px;
    background-color: black;
    display:flex;
    justify-content: space-evenly;
}

#copyright {
    /* text-align:right; */
    margin-left:35rem;
    
}

/*media queries */
@media (max-width: 75em)  {
    html  {
        font-size: 60%;
        width:fit-content;
    }
}
/* 980px / 16px = 61.25em */
@media (max-width: 61.25em)  {
    html  {
        font-size: 58%;
    }
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em)  {
    html  {
        font-size: 55%;
    }
}

    /*navbar*/
    @media (max-width: 512px) {
        .navigation  {
            /* display:flex; */
            justify-content: center;
            /* position:relative; */
            /* border:1px solid cyan; */
            border-bottom-left-radius: 1rem;
        }
    
        .navigation .container-fluid ul {
        display:flex;
        margin: 0 1rem;
        justify-content: center;
        /* border:1px solid green; */
        
       }

       .navigation .container-fluid ul li {
           position: relative;
           right:110px;
           display:flex;
           justify-content: center;
           font-size:22px;
           /* border:1px solid red; */
       }
    }

    /*HEADER*/
    @media (max-width: 512px) {
        .profile {
            grid-gap:6rem;
            grid-template-columns: repeat(1, 1fr);
        }
        .profile-header-div .profile-header {
            /* max-width:200px; */
            /* border:1px solid green; */
            font-size:50px;
        }
        .profile .profile-caption {
            font-size:20px;
        }
        .img-profile {
            max-width:256px;
            margin:auto; 
            /* border:1px solid orange; */
            height:300px;
            
            
        } 
        .profile-image-div {
            margin-top:0px;
        }
    }